{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Smart Home Admin{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'images/logo.png' %}" alt="Logo" height="40" style="margin-right: 10px;">
        Smart Home Administration
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
